name: Renovate App

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *' # every 4 hours

env:
  RENOVATE_VERSION: 42.46.0-full # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 'latest'

      - name: Add secrets to config
        run: |
          sed -i 's/%ARTICLES_WPML_KEY%/${{ secrets.ARTICLES_WPML_KEY }}/g' config.json
          sed -i 's/%ARTICLES_WPML_USER_ID%/${{ secrets.ARTICLES_WPML_USER_ID }}/g' config.json
          sed -i 's/%ARTICLES_YOAST_USERNAME%/${{ secrets.ARTICLES_YOAST_USERNAME }}/g' config.json
          sed -i 's/%ARTICLES_YOAST_PASSWORD%/${{ secrets.ARTICLES_YOAST_PASSWORD }}/g' config.json

      - name: Get Renovate app token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM }}
          owner: ${{ github.repository_owner }}

      - name: Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          renovate-version: ${{ env.RENOVATE_VERSION }}
          configurationFile: config.json
          token: 'x-access-token:${{ steps.app-token.outputs.token }}'
          mount-docker-socket: true
        env:
          LOG_LEVEL: debug
