name: Renovate App

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *' # every 4 hours

env:
  RENOVATE_VERSION: 42.46.0-full # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 'latest'

      - name: Add secrets to config
        run: |
          sed -i 's/%ARTICLES_WPML_KEY%/${{ secrets.ARTICLES_WPML_KEY }}/g' config.json
          sed -i 's/%ARTICLES_WPML_USER_ID%/${{ secrets.ARTICLES_WPML_USER_ID }}/g' config.json
          sed -i 's/%ARTICLES_YOAST_USERNAME%/${{ secrets.ARTICLES_YOAST_USERNAME }}/g' config.json
          sed -i 's/%ARTICLES_YOAST_PASSWORD%/${{ secrets.ARTICLES_YOAST_PASSWORD }}/g' config.json

      - name: Get Renovate app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM }}
          owner: ${{ github.repository_owner }}

      - name: Renovate
        uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        with:
          renovate-version: ${{ env.RENOVATE_VERSION }}
          configurationFile: config.json
          token: 'x-access-token:${{ steps.app-token.outputs.token }}'
          mount-docker-socket: true
        env:
          LOG_LEVEL: debug
